@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $noto-sans;
  margin: 0;
  height: 100%;
  //background-image: radial-gradient($pastel-pink, $light-blue-gray, $sky-blue);
}

h2 {
 margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}