@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

$noto-sans: 'Noto Sans KR', sans-serif;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $noto-sans;
  margin: 0;
  height: 100%;
}
