@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

// FONTS
$noto-sans: 'Noto Sans KR', sans-serif;
$baloo-bhai: 'Baloo Bhai', cursive;

// COLORS
$dark-blue: #0c093c;
$intense-pink: #99235c;
$pastel-pink: #ffe6eb;
$sky-blue: #ccffec;