@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

// FONTS
$noto-sans: 'Noto Sans KR', sans-serif;
$baloo-bhai: 'Baloo Bhai', cursive;

// COLORS
$darkBlue: #0c093c;
$intensePink: #99235c;