@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

// FONTS
$noto-sans: 'Noto Sans KR';
$baloo-bhai: 'Baloo Bhai', cursive;

// COLORS
$dark-blue: #210b5e;
$intense-pink: #99235c;
$pastel-pink: #ffe6eb;
$sky-blue: #ccffec;
$light-blue-gray: #f2f3ee;

// MIXINS
@mixin inline-flex {
    display: flex;
    align-items: center;
}

@mixin col-flex {
    display: flex;
    flex-direction: column;
}

@mixin gradient-border {
    border-image: conic-gradient($dark-blue, $pastel-pink, $sky-blue, $intense-pink) 1;
}

@mixin simple-shadow {
    box-shadow: 5px 5px 10px gray;
}

@mixin retro-shadow {
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

@mixin page-title {
    padding: 0.5vw 1vw;
    border: solid 1px $dark-blue;
    font-family: $baloo-bhai;
    font-size: 2vw;
}

@mixin btn-controls {
    background-color: rgba(236, 225, 216, 0.7);
    border: solid 5px $pastel-pink;
    border-radius: 4%;
    text-align: center;
}

// GLOBAL STYLE

button.btn-add-crate {
    transition: all 0.2s ease;
    margin: 2vh 0;
    font-family: $baloo-bhai;
    font-size: var(--btn-crate-font-size);
    padding: 2% 3%;
    background-color: $pastel-pink;
    border-radius: 0.5em;
    border: solid 3px $intense-pink;
    border-style: outset;
}

button.btn-add-crate:hover {
    transform: rotate(-2deg) scale(1.2);
}

h1.page-title {
    @include page-title;
    font-size: 2vw;
}

.btn-controls {
        transition: all 0.2s ease;
        font-family: $baloo-bhai;
        font-size: 1.3vw;
        padding: 0.2vw 0.6vw;
        @include btn-controls
}
.btn-controls:hover {
    transform: scale(1.1)
}

.polaroid {
    @include simple-shadow;
    transition: all 0.5s ease;
    background-color: white;
    padding: 20px;
    transform: rotate(2deg);
}

.polaroid:hover {
    transform: scale(1.3);
}