@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

// FONTS
$noto-sans: 'Noto Sans KR', sans-serif;
$baloo-bhai: 'Baloo Bhai', cursive;

// COLORS
$dark-blue: #0c093c;
$intense-pink: #99235c;
$pastel-pink: #ffe6eb;
$sky-blue: #ccffec;
$light-blue-gray: #f2f3ee;

// MIXINS
@mixin inline-flex {
    display: flex;
    align-items: center;
}

@mixin col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin gradient-border {
    border-image: conic-gradient($dark-blue, $pastel-pink, $sky-blue, $intense-pink) 1;
}

@mixin simple-shadow {
    box-shadow: 5px 5px 10px gray;
}

@mixin retro-shadow {
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

// GLOBAL STYLE
button.btn-add-crate {
    transition: all 0.2s ease;
    margin: 2vh 0;
    font-family: $baloo-bhai;
    font-size: var(--btn-crate-font-size);
    padding: 2% 3%;
    background-color: $pastel-pink;
    border-radius: 0.5em;
    border: solid 3px $intense-pink;
    border-style: outset;
}

button.btn-add-crate:hover {
    transform: rotate(-2deg) scale(1.2);
}