@import '../../variables.scss';

#order-container {
    @include col-flex;
    height: 100%;
    color: $dark-blue;
    align-items: center;
    background: url(../../assets/img/bg-receipt.png) no-repeat top center fixed;
    background-size: contain;
    padding: 2vw;
}

#order-content {
    @include col-flex;
    align-items: center;
    height: 82%;
    width: 45%;
    max-width: 530px;
    justify-content: space-between;
    background-color: rgba(58, 34, 34, 0.6)
}

#order-content p {
    position: absolute;
    top: 80%
}

#order-items-container {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    @include col-flex;
}

#total-price {
    @include inline-flex;
    align-items: center;
}

#total-price > img {
    height: 2.5em;
    width: 2.5em;
}

#total-price > span {
    font-size: 2em;
}

.order-items {
    @include inline-flex;
    justify-content: space-between;
    margin: 2% 8% 2% 3%;
}

.order-items > div.frame {
    background-color: white;
    padding: 7px 7px 21px 7px;
    transform: rotate(2deg);
    width: 130px;
    height: 140px;
}

.frame > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}