@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

$darkBlue: #0c093c;
$intensePink: #99235c;

@mixin inline-flex {
    display: flex;
    align-items: center;
}

header {
    @include inline-flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 2vw;
    height: 9vh;
    border-bottom: solid 3px;
    border-image: radial-gradient($darkBlue, $intensePink) 1;
    font-family: 'Baloo Bhai', cursive;
    color: $intensePink;
}

header #logo {
    @include inline-flex;
    height: 100%;
}

header #logo a {
    font-size: 3vw;
    color: $darkBlue;
}

header #logo img {
    height: 100%;
    margin: 0 1em;
}

header a {
    text-decoration: none;
    color: $darkBlue;
}

header #user-access {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 1.3vw;
}

header #user-access img {
    transition: all 0.5s ease;
    height: 100%;
    margin: 0 1em;
}

header #user-access > span, 
header #user-access > a {
    margin: 0 0.5rem;
}