@import '../../variables.scss';

header {
    @include inline-flex;
    @include gradient-border;
    border-bottom: solid 5px;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 2vw;
    height: 9.5vh;
    font-family: $baloo-bhai;
    background-image: linear-gradient(to bottom right, $pastel-pink, $sky-blue);
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: $dark-blue;
}

a:hover,
#user-access img:hover {
    opacity: 0.65;
    color: $intense-pink;
}

#logo {
    @include inline-flex;
    height: 100%;
}

#logo a {
    margin-top: 5px;
    font-size: 3vw;
    color: $dark-blue;
    @include retro-shadow
}

#logo img {
    height: 100%;
    margin: 0 1em;
}

#user-access {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 1.3vw;
}

#user-access a {
    transition: all 0.5s ease;
    margin: 0 0.6rem;
}

#user-access a.active {
    font-size: 1.5vw;
    color: $intense-pink;
    border-bottom: solid 1px $intense-pink;
}

#btn-cart {
    padding: 0.3em 0 0 0.3em;
}

#btn-cart img {
    height: 4vw;
}

#btn-cart .badge {
    position: absolute;
    right: 1.6%;
    top: 20%;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 2vw;
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
    background: rgb(255, 116, 92);
}