@import '../../variables.scss';

@mixin inline-flex {
    display: flex;
    align-items: center;
}

header {
    @include inline-flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 2vw;
    height: 9vh;
    border-bottom: solid 3px;
    border-image: radial-gradient($darkBlue, $intensePink) 1;
    font-family: $baloo-bhai;
}

#logo {
    @include inline-flex;
    height: 100%;
}

#logo a {
    font-size: 3vw;
    color: $darkBlue;
}

#logo img {
    height: 100%;
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: $darkBlue;
}

#user-access {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 1.3vw;
}

#user-access img {
    height: 60%;
    margin-left: 1em;
}

#user-access a {
    transition: all 0.5s ease;
    margin: 0 0.6rem;
}

#user-access a.active {
    font-size: 1.5vw;
    color: $intensePink;
    border-bottom: solid 1px $intensePink;
}