//@import '../../variables.scss';

#filter-side-bar{
  width:20%;
  margin: 2% 2% 2% 2%;
  font-size: 17px;
  position: sticky;
  bottom: 0;
}
#filter-side-bar > div {
  padding: 7%;
  background-color: rgba(186, 212, 186, 0.8);
  margin: 0 0 5% 0;
}
#breed{
  text-align: center;
}
.box select {
  background-color:lightgrey;
  text-align: center;
  margin: 5%;
  padding: 5px;
  width: 60%;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
span.selection{
  margin:0;
  width: 80%
}
.category{
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
label {
  display: flex;
  text-align: left
}
input{
  width: 10%;
  margin: 5px;
}