@import '../../variables.scss';

#crate-checkout-container {
  @include col-flex;
  color: $dark-blue;
  align-items: center;
  margin: 2vw 0 4vw 0;
}

#crate-checkout-container .page-title {
  margin: 2vw 0;
}

#checkout-form {
  @include col-flex;
  @include card-bg;
  width: 80%;
  padding-bottom: 2vw;
  align-items: center;
}

#checkout-form > button {
  margin: 3vw auto 0 auto;
  width: 30%;
  font-size: 1.8vw;
}

#checkout-form > label {
  width: 30vw;
}

#checkout-form > label > input {
  width: 100%;
  height: 2.2vw;
  font-size: 1.1vw;
  text-align: center;
}