@import "../../variables.scss";

#dog-list-container {
  display:flex;
  width: 100%;
  justify-content: space-around;
  color: $dark-blue;
  padding-top: 2vw;
}

#dogs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#dog {
  @include col-flex;
  @include card-bg;
  justify-content: space-around;
  margin: 2%;
  padding: 1%;
  width: 28%;
  max-height: 35vh;
}

.dogcontent {
  display: flex;
}

#dog h1 {
  font-family: $baloo-bhai;
  margin: 5px;
}

#dogpic {
  width:50%;
  margin: 5px 5px 5px 5px;
}

#dogpic img {
    border-radius:15%;
    max-width:100%;
    height:auto;
    object-fit: cover;
}

.filter {
  flex-basis: 20%;
}

button.btn-add-crate {
  --btn-crate-font-size: 1.2em;
}

#dogname {
  @include retro-shadow;
  font-family: $baloo-bhai;
  @include gradient-border;
  border-bottom: solid 1px;
  font-size: 2em;
}

#dogtext {
  width: 65%;
  @include col-flex;
  justify-content: space-around;
}

#dogtext > h4,
#dogtext > p {
  margin: 5px 0;
}

#dogtext > div {
  @include inline-flex;
  font-size: 1.4em;
  margin: 0.3vh 0;
  justify-content: center;
}

#dogtext > div > span {
  margin-right: 0.8em;
  font-size: 0.7em;
}

#dogtext > div > img {
  width: 1em;
  height: 1em;
}