@import "../../variables.scss";

#dog-list-container {
  @include inline-flex;
  width: 100%;
  justify-content: space-around;
  color: $dark-blue;
  padding-top: 2vw;
}

#dogs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#dog {
  @include col-flex;
  @include btn-controls;
  justify-content: space-around;
  margin: 2%;
  padding: 1%;
  width: 28%;
}

.dogcontent {
  display: flex;
}

#dog h1 {
  font-family: $baloo-bhai;
  margin: 5px;
}

#dogtext {
  width: 65%;
  margin: 0;
}

#dogpic {
  width: 35%;
  object-fit: cover;
  margin: 5px;
}

.filter {
  flex-basis: 20%;
}

button.btn-add-crate {
  --btn-crate-font-size: 1.2em;
}