@import '../../variables.scss';

#dog-list-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#dogs {
    display: flex;
    flex-wrap: wrap;
    width:80%;
}
#dog {
    margin: 2%;
    width: 25%;
    height:320px;
    border: rgb(156, 154, 154) solid 1px;
    border-radius: 2%;
    text-align: center;
    //position: relative
}
.dogcontent {
    display: flex;
    height: 65%;
    margin: 1%;
    margin-bottom: 2%;
}
#dog h2{
    margin:7px;
    height:10%
}
#dogtext{
    width:65%;
    margin:0;
}
#dogpic{
    width:50%;
    margin: 5px 5px 5px 5px;
}
img{
    border-radius:15%;
    max-width:100%;
    height:auto;
}
#btn {
    height:60px;

}

button.btn-add-crate {
    --btn-crate-font-size: 1em;
}

