@import "../../variables.scss";
.dogcontainer{
   display: flex;
}
#dogs {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-right:0;
}
#dog {
  @include col-flex;
  @include btn-controls;
  justify-content: space-around;
  margin: 2%;
  padding: 1%;
  width: 28%;
}
.dogcontent {
    display: flex;
    height: 65%;
    margin: 1%;
    margin-bottom: 2%;
}
#dog h2{
    margin:7px;
    height:10%
}
#dogtext{
    width:65%;
    margin:0;
}
#dogpic{
    width:50%;
    margin: 5px 5px 5px 5px;
}
img{
    border-radius:15%;
    max-width:100%;
    height:auto;
}
#btn {
    height:60px;
}

button.btn-add-crate {
  --btn-crate-font-size: 1.2em;
}

