@import '../../variables.scss';
#dogs {
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    width:80%;
}
#dog {
    margin:0 auto;
    margin-bottom: 5%;
    width: 30%;
    border: black solid 2px;
    border-radius: 2%;
    text-align: center;
}
.dogcontent {
    display: flex;
}
#dog h1{
    margin:5px;
}

#dogtext{
    width:65%;
    margin:0;
}
#dogpic{
    width:35%;
    margin: 5px 5px 5px 5px
}

button.btn-add-crate {
    transition: all 0.2s ease;
    margin: 2vh 0;
    font-family: $baloo-bhai;
    font-size: var(--btn-crate-font-size);
    padding: 2% 3%;
    background-color: $pastel-pink;
    border-radius: 0.5em;
    border: solid 3px $intense-pink;
    border-style: outset;
}
.filter{
    margin: 10%;
}