@import '../../variables.scss';
#dogs {
    margin:10% auto;
    display: flex;
    width:80%;
}
#dog {
    margin:0 auto;
    width: 30%;
    border: black solid 2px;
    border-radius: 2%;
    text-align: center;
}
#dog h1{
    margin:5px;
}
#button{
    width:50%;
    margin:1% auto;
    font-size: 20px
}
#dogtext{
    width:65%;
    margin:0;
}
#dogpic{
    width:35%;
    border:dotted pink 2px;
    text-align: center;
}
#dogblock{
    display: flex;
}