@import '../../variables.scss';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  flex: 1;
  overflow: scroll;
  background: url(../../assets/img/bg-pawprint.jpg) no-repeat top center fixed;
  background-size: cover;
}
