@import '../../variables.scss';

#dog-container {
    display: flex;
    padding-top: 10vh;
    margin: 0 auto;
    height: 100%;
    width: 70%;
    flex-wrap: wrap;
}

#dog-images {
    @include col-flex;
    align-items: flex-end;
    flex-basis: 50%;
}

#dog-image {
    width: 340px;
    height: 470px;
}

#dog-image img {
    object-fit: cover;
    width: 300px;
    height: 350px;
}

#dog-image p {
    word-wrap: break-word;
}

#dog-info {
    @include col-flex;
    align-items: center;
    flex-basis: 50%;
}

#name {
    @include retro-shadow;
    font-family: $baloo-bhai;
    font-size: 3em;
}

.property {
    @include inline-flex;
    font-size: 1.4em;
    margin: 1vh 0;
}

.property span:first-child {
    margin-right: 0.8em;
    font-size: 0.7em;
}

.property img {
    width: 2em;
    height: 2em;
}

#btn-back {
    transition: all 0.2s ease;
    margin: 2%;
    font-family: $baloo-bhai;
    font-size: var(--btn-crate-font-size);
    padding: 2% 3%;
    background-color: $pastel-pink;
    border-radius: 0.5em;
    border: solid 3px $intense-pink;
    border-style: outset;
    height: 10%
}
h4{
    font-style: oblique;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px 0 0;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

